.navbar {
  max-width: auto;
  height: var(--header-height);
  margin: 0;
  margin-bottom: 0 !important;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  max-height: var(--header-height);
  max-width: auto;
  padding-left: 60px;
}

.navbar-nav > li > a {
  line-height: var(--header-height); 
  padding: 0;
  color: #fff; /* Set the default text color */
  transition: color 0.3s; /* Add a smooth transition for text color */
}

.navbar-nav > li {
  margin-right: 50px; 
}

/* Add lighter color on hover */
.navbar-nav > li > a:hover {
  color: #b3b3b3; /* Set text color on hover */
}
